.about
  h5 About Brady Ouren
  img(src='/imgs/profile.png', width=150, height='auto')
  p.about-paragraph

    | Brady Ouren is a
    a(href='/projects') programmer
    | with a background in Sound Design.
    | You can follow select projects on 
    a(href='http://github.com/tippenein') github. 
