extends layout 

block content
  title=title
  h4 About Brady Ouren
  .row
    .span6
      p 
        | I'm a Senior at the University of Minnesota studying Computer Science. 
        | I have an Associates of Applied Science in Audio Production and at the moment 
        | live in the great city of Minneapolis.
        | <br>
      
