extends full12 

block content
  title=title
  h4 About Brady Ouren
  .row
    .span6
      p I'm a Senior at the University of Minnesota studying Computer Science. My favorite tea is Yunnan Gold (Makaibari Darjeeling is a close second)
      p Here is a picture of me climbing a tree -->
    .span6
      img(src="imgs/profile.png")

