extends layout

block content
  div#contact
    title=title 
    h1=title
    form(action='/save_contact', method='post')
      | Send me your message about anything <br> 
      | (ex. your favorite python module, the weather, etc.)
      | <br>
      
      input(type='text', placeholder='Name', name='name', id="name")
      input(type='text', placeholder='Email', name='email', id="email") 
      | <br> 
      textarea(type='text', placeholder="Message here", name='message',
          id="message", rows="10", cols="90")
      | <br> 
      input(type='submit', name='Submit')
    hr.dashed
    h3 Other ways of getting in touch:
      ul
        li
          a(href='mailto:brady.ouren@gmail.com') email
        li
          a(href='http://twitter.com/tippenein') on twitter
      
block sidebar
  // img(src="imgs/")
  // a()
