extends base

block body
  #top-title
    p BrdyOrn
  #top-subtitle
    p Online home of Brady Ouren
  .navbar
    .navbar-inner
      .container
        ul.nav
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
  .container
    .row
      .span9
        .content
          block content
      .span3
        .sidebar
          block sidebar

block footer 
  div Copyright &copy; Brady Ouren #{+new Date().getFullYear()}
  a(href='/') Home
  | |  
  a(href='/contact') Contact
  | |  
  a(href='/about') About
  | |
  // social media icons
  a(href='http://www.twitter.com/tippenein', target='_blank') 
    img(src='images/social/32/twitter.png')
  a(href='http://www.linkedin.com/profile/view?id=138420230', target='_blank')
    img(src='images/social/32/linkedin.png')
  a(href='http://www.last.fm/user/planetplosion', target='_blank') 
    img(src='images/social/32/lastfm.png')

