extends base

block body
  block container
  .content.container
    header
      #top-title.centered
        a(href="/") BrdyOrn.com
      #top-subtitle.centered
        p Online home of Brady Ouren
      nav.centered
        a(href="/projects", title='projects') Projects
        a(href="/blog", title='blog') Blog
        a(href="/resume") Resumé
        script
          $(function() {
              return $('header nav a').each(function(index, link) {
                var $link = $(link)
                var href = $link.attr('href')
                var URI = document.location.pathname
                if (href === URI) {
                  $link.addClass('current')
                } else {$link.removeClass('current')}
              })
            })
          
          //$(document).ready(function() {
            //$("pre code").parent().each(function() {
              //$(this).addClass('highlight');
              //$('head').append("<link rel='stylesheet' href='/stylesheets/highlight.css' type='text/css'>");
            //});
          //});
    if status
      if type=='success'
        .status-msg.alert.alert-success=status
      if type=='error'
        .status-msg.alert.alert-error=status
    .container
      .row
        .span8.offset2
          .content
            block content
        .span2
          block nav
  .clear
  include includes/footer
