extends base

block body
  block container
  .content.container
    header
      #top-title.centered
        a(href="/") BrdyOrn.com
      #top-subtitle.centered
        p Online home of Brady Ouren
      nav.centered
        a(href="/", title='home') Home
        a(href="/projects", title='projects') Projects
        a(href="/blog", title='blog') Blog
        a(href="/contact", title='contact') Contact
        
        script
          $(function() {
              return $('header nav a').each(function(index, link) {
                var $link = $(link)
                var href = $link.attr('href')
                var URI = document.location.pathname
                if (href === URI) {
                  $link.addClass('current')
                } else {$link.removeClass('current')}
              })
            })
        //a(href="/resume") Resumé
    if status
      if type=='success'
        .status-msg.alert.alert-success=status
      if type=='error'
        .status-msg.alert.alert-error=status
    .container
      .row
        .span8.offset2
          .content
            block content
        .span2
          block nav
  .clear
  footer.container
    .span12#footer.row
      .span4.footer-nav
        ul
          li
            a(href='/') Home
          li
            a(href='/blog') Blog
          li
            a(href='/projects') Projects
          li
            a(href='/contact') Contact
        .clear
        | <br>
      .span4.social-icons
        ul
          li
            a(href='http://www.github.com/tippenein', target='_blank') 
              img(src='imgs/social/32/github_round.png')
          li
            a(href='http://www.twitter.com/tippenein', target='_blank')
              img(src='imgs/social/32/twitter_round.png')
          li
            a(href='http://www.linkedin.com/profile/view?id=138420230', target='_blank')
              img(src='imgs/social/32/linkedin_round.png')
          li
            a(href='http://www.last.fm/user/planetplosion', target='_blank') 
              img(src='imgs/social/32/lastfm_round.png')
          | <br><br>
      .clear
    .span8.row.license
      p.license This work is licensed under a 
        a( rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/") Creative Commons Attribution-ShareAlike 3.0 Unported License.
        a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/")
        | <br>  
        img( alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png")

