extends base

block body
  block container
  .content.container
    header
      #top-title.centered
        a(href="/") BrdyOrn.com
      #top-subtitle.centered
        p Online home of Brady Ouren
      nav.centered
        a(href="/") Home
        a(href="/projects") Projects
        a(href="/blog") Blog
        a(href="/contact") Contact
        //a(href="/resume") Resumé
    if status
      if type=='success'
        .status-msg.alert.alert-success=status
      if type=='error'
        .status-msg.alert.alert-error=status
    .container
      .row
        .span8.offset2
          .content
            block content
        .span2
          block nav
  .clearfooter
  footer.container
    #footer
      .row
        ul.pull-left
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/projects') Projects
          li
            a(href='/contact') Contact

        ul.pull-right.social-icons
          li
            a(href='http://www.github.com/tippenein', target='_blank') 
              img(src='imgs/social/32/github_round.png')
          li
            a(href='http://www.twitter.com/tippenein', target='_blank')
              img(src='imgs/social/32/twitter_round.png')
          li
            a(href='http://www.linkedin.com/profile/view?id=138420230', target='_blank')
              img(src='imgs/social/32/linkedin_round.png')
          li
            a(href='http://www.last.fm/user/planetplosion', target='_blank') 
              img(src='imgs/social/32/lastfm_round.png')
          | <br><br>
          p.copyright.centered Copyright &copy; Brady Ouren #{+new Date().getFullYear()}
