extends layout

block content
  title=title
  .row
    .span4
      .project-col1
        h2 Projects I'm working on.
        hr.dotted
        .project-text 
          //this site
          h4 brdyorn.com
          p
            | This particular site is an ongoing project for me.
            | I adapted the original django site into this node/express version recently for the sake of curiousity.  
            | There are some things I'd like to try with node that wouldn't have been as easy in django. 
            | For example, I'm able to try html/css things out much quicker with jade.
          | <br>
          a(href="http://www.github.com/tippenein/brdy-node", target='_blank') Browse it on Github 
        .project-text
          //chatty.js
          h4 node.js chat using socket.io

          p
            | The ubiquitous node chat server!
            | Inspired by a school project where I wrote a chat client and server with python cgi and udp sockets, 
            | I wanted to see how easy it was to get the same functionality with node.

          | <br>
          a(href="http://www.github.com/tippenein/chatty", target='_blank') Browse it on Github 
        .project-text
          //pots, fyi
          h4 Pots, fyi

          p
            a(href='http://twitter.com/graue') @graue 
            | started a music streaming app intended to run on a personal server.  
            | Since we both had the same idea, we started tackling bits and pieces of functionality at a time.
            | It's in a very earlier stage and currently uses the 
            a(href='http://flask.pocoo.org/') flask 
            | python framework along with 
            a(href='http://backbonejs.org') backbone, underscore, 
            a(href='http://handlebarsjs.com') handlebars 
            | and html5 audio
          | <br>
          a(href='http://github.com/graue/potsfyi', target='_blank') Fork the original and help out
    .span4  
      .project-col2
        h2 Past Projects
        hr.dotted
        .project-text
          h4 Socket Programming for Networks 4211

          p
            | Fall semester of 2012 I finished a Networks project involving sockets which I wrote in Python.
            | This assignment was an 'atm' middleman which handled client transactions and handed them off to the bank server.  
            | I used select in python which is essentially the same as the equivalent C function to asynchronously 
            | handle up an arbitrary amount of client connections while the bank server will handle all the atm requested transactions. 
            | More details in the readme.md in the repo.
          | <br>
          a(href="http://www.bitbucket.org/tippenein/socket-assgn-4211", target='_blank') Browse it on Bitbucket
        .project-text  
          h4 Python send_to_kindle script
          p
            | The lack of a send_to_kindle for linux surprised me.. 
            | So I wrote a simple python script to send your ebooks to your kindle via the user@kindle.com email address
          | <br>
          a(href="https://github.com/tippenein/send_to_kindle", target='_blank') Fork away @ github

