extends layout

block content
  title Resumé - Brady Ouren
  .resume-header
    h4 If you prefer a more traditional form, you can download the pdf 
      a(href="./pdf/resume.pdf") here
    hr
    h3 Experience
    ul.experience
      li Node.js / Express website - Built this site in January 2013. Check the source 
        a(href='http://github.com/tippenein/brdyorn.com') here
        p 
          em ~ Technologies used: 
            ul
              li node
              li express
              li jade & stylus
              li mongo
              li javascript / jQuery
      li Pair project - Started a webapp project: Potsfyi - a music streaming app intended to run on a personal server. Check the source 
        a(href='http://github.com/tippenein/potsfyi') here
        p 
          em ~ Technologies used: 
            ul
              li Flask
              li Backbone & Underscore
              li SQLAlchemy
              li Handlebars.js
              li git
      li Django Projects - Worked on large Django codebase (SparkWeave summer 2012) along with other smaller Django projects. 
        p 
          em ~ Technologies used: 
            ul
              li Django
              li Python
              li nginx 
              li Gunicorn
              li RabbitMQ
              li git
      li Buildbot - built and maintained a CI server for pushes coming into SparkWeave's main repo
      li Various Socket Programming assignments 
        ul
          li Used python and javascript to make a udp chat via python cgi and javascript ajax calls through a socket with a python server listening for the udp.
          li Atm-like interface using strictly python sockets and the select module 
            p see it 
              a(href='https://bitbucket.org/tippenein/socket-assgn-4211/src') here
      li Worked in pair programming to develop a FeedReader application for Android. 
        | Worked with key Android libraries and visual elements. Also, I learned what a challenge catching rss with a scraper is.
        p see it 
          a(href='http://github.com/tippenein/feedreader') here
      li Python scripting - check 
        a(href='http://github.com/tippenein') github repo 
        | for bitcoin ticker, send_to_kindle and other small python projects

    h6 For other projects see the 
      a(href='./projects') projects page
