html{
  height:100%;
}

body{
  padding-bottom:10px;
  font-family: 'ABeeZee', sans-serif;
  height:100%;
  font-size:1em;
  color:#0f0f0f;
  background: url(../imgs/tile.png)
}

p {
  font-family: 'Arial', sans-serif;
  font-size:1em;
}

hr.dashed{
  border-width: 0.5px;
  border: dashed;}

#footer a {
  padding:1em;
}

a:hover{
  color: #fc1501;
}

#top-title a {
  color:#0f0f0f;
}

.navbar { 
  margin-bottom:0px; 
}

.container{
  min-height:100%;
  position:relative;
  padding-left:50px;
}
.centered {text-align:center;}
#top-title {
  padding:0.5em;
  font-size:2.5em;  
}

#top-subtitle {
  text:#0b0b0b;
  font:1em italic;
} 

.container{
  min-height:100%;
  position:relative;
}
/* ----------FOOTER------------*/
#footer {
  color:#fafafa;
  padding-top: 0.5em;
  height: 60px;
  position: relative;
  text-align: center;
  background-color:#584E56;
}


.clearfooter{height:10px; clear:both;}

#footer li{
  display: inline;
  list-style-type:none;
  padding-right: 20px;
}

/* ----------SIDEBAR------------*/
.sidebar h3,h4 {
  color:#4a4a4a;
}
.sidebar {
  color:#fafafa;
  padding:1em;
  background-color:#584E56;
}
