@import url("http://fonts.googleapis.com/css?family=Droid\+Sans");
@import url("http://fonts.googleapis.com/css?family=Arimo");
html,body{font-family:"Verdana","Arial","Helvetica",sans-serif;font-size:1em;color:#0f0f0f;background-color:#fefefe}
p{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2",Georgia,serif;font-size:1em}
li{padding:2px}
h1,h2,h3,h4,h5,h6,nav a{font-family:'Tertre bold',sans-serif;color:#10051c}
hr.dotted{border-top:dashed 3px #10051c;color:#fefefe;background-color:#728127;border:dotted medium #10051c;border-style:none none dotted}
.clear{clear:both}
input{margin-top:1em;margin-right:1em;padding:.5em}
textarea{width:90%}
a{text-decoration:none;color:#c1390a}
a:hover{text-decoration:none;color:#d4b515}
.container{min-height:100%;position:relative}
#top-title{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2",Georgia,serif}
#top-title a{color:#0f0f0f}
.preview{padding-left:1em;border-left:6px solid #327500;border-bottom:2px solid #327500}
header{padding-bottom:5px}
header nav{display:block;clear:both;margin-top:6px;padding-top:6px;white-space:nowrap}
header nav a{background-color:#fefefe;color:#327500;margin:6px;padding:6px;display:inline-block;font-size:25px;line-height:25px;border-bottom:5px solid #10051c}
header nav a:hover,a.current{color:#fefefe;background-color:#10051c;border-bottom:5px solid #d4b515}
.navbar{margin-bottom:0}
.centered{text-align:center}
#top-title{padding:.5em;font-size:2.5em}
#top-subtitle{text:#0b0b0b;font:1em italic}
.about ul,p{padding-left:4px;margin-left:4px}
.about a{padding:4px;max-width:100px}
.content{background-color:#fefefe}
.container{position:relative;min-height:100%}
.content{padding-bottom:0}
footer{color:#fafafa;padding-top:1em;height:100%;position:absolute;background-color:#10051c}
.footer-nav a{font-size:120%}
footer h3,footer h4,footer h5,footer h6{color:#fefefe}
footer a{color:#c1390a;padding:.5em}
footer a:hover{color:#d4b515}
footer ul{margin:0;padding-top:8px}
footer a.contact{background-color:#d4b515;padding-bottom:8px}
footer a.contact:hover{background-color:#fefefe}
footer .span4{padding-left:16px;border-left:2px solid #555;height:300px}
footer li{margin:0;list-style-type:none;margin:0;padding:2px 0 2px 0}
.footer-nav ul{list-style-type:none;display:list-item}
.social-icons ul{list-style-type:none}
.social-icons li{display:inline;padding-top:4px}
p.license{padding-top:4px;margin-bottom:4px;font-size:70%}
blockquote{background:#fff;border-left-style:3px;font-style:italic;border-left:6px solid #111}
pre{background-color:#1f1c1f;color:#fafafa}
.blog-preview,.globaltags,.globalcats{list-style:none;padding:0;margin:0;font-size:.75em;border:1px}
.blog-preview li{border-bottom:1px solid #bbb}
.blogentry{color:#0f0f0f;border-radius:4px;padding:6px}
.blogentry h1 a,.blogentry h2 a,.blogentry h3 a,.blogentry h4 a,.blogentry h5 a,.blogentry h6 a{color:#10051c}
.blogentry a{font-weight:900;letter-spacing:2px;color:#10051c}
.blogentry a:hover{color:#c1390a}
.blogentry.even{background-color:#f6f6f6}
.blogentry,.tags{border-top:solid 6px #fefefe;padding-bottom:2px}
.blogcontent{color:#0f0f0f;background-color:#fefefe;padding-bottom:4px}
.blogcontent p,.blogcontent h2,.blogcontent h4,.blogcontent h5,.blogcontent h6,.blogcontent pre{padding:8px}
.tag{border-radius:3px;display:inline;padding-bottom:2px;padding-left:2px;padding-right:2px;margin-left:6px;background-color:#327500}
.tags h5{color:#fefefe}
.tag a{color:#fff}
.tag a:hover{color:#d4b515}
.project-col1,.project-col2{padding:.5em;background-color:#728127}
.project-text{padding:1em;margin-top:1em;background-color:#fefefe}
#contact{padding:1em;background-color:#728127}
.com{color:#827d06}
.lit{color:#195f91}
.pun,.opn,.clo{color:#d4d4ac}
.fun{color:#dc322f}
.str,.atv{color:#d14}
.kwd,.prettyprint .tag{color:#b600c1}
.typ,.atn,.dec,.var{color:#008080}
.pln{color:#d4d4ac}
.prettyprint{padding:8px;background-color:#10051c;border:1px solid #e1e1e8}
.prettyprint.linenums -webkit-box-shadow: inset 40px00#fbfbfc -moz-box-shadow: inset 40px00#fbfbfc,.prettyprint.linenums inset 41px00#ececf0 -moz-box-shadow: inset 40px00#fbfbfc,.prettyprint.linenums -webkit-box-shadow: inset 40px00#fbfbfc inset 41px00#ececf0,.prettyprint.linenums inset 41px00#ececf0 inset 41px00#ececf0{box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0}
.about-paragraph{font-size:78%}
ol.linenums{margin:0 0 0 33px}
ol.linenums li{padding-left:12px;color:#bebec5;line-height:20px;text-shadow:0 1px 0 #fff}
.underline{border-bottom:solid 4px #10051c}
.tags-dropdown{font-size:bold 1.25em}
.categories:hover,.tags-dropdown:hover,.recent:hover{background-color:#d4b515}
.resume{padding-left:4px;border-left:solid 2px #f0f0f0}
li.school{font-size:1.25em}
