
/*
* nib adds browser specific css
*/

/*********** fonts ********/
@import url('http://fonts.googleapis.com/css?family=Droid\+Sans')
@import url('http://fonts.googleapis.com/css?family=Arimo')
@font-face
  font-family: 'liberationSans'
  src: url('./lib/liberation_sans/LiberationSans-Regular.ttf')
HelveticaNeue       = "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
DroidSans           = 'Droid Sans', sans-serif
Tertre              = 'Tertre bold', sans-serif
header-font         = Tertre
primary-font-family = HelveticaNeue
second-font-family  = 'Arial', sans-serif
liberationSans      = 'liberationSans', sans-serif
arimo               = 'Arimo', sans-serif
/****** colors ********/
light   = #fefefe
lighter = #728127
/*green*/ 
dark    = #327500 
/*eggplant*/
darkest = #10051c
/*yellow*/
mid     = #d4b515
main-bg = light
content-bg = main-bg 
link            = #d415a3
link-hover      = mid
/*header*/
header-nav-bg          = light
header-nav-hover       = darkest
header-nav-text        = dark
header-nav-text-hover  = lighter
header-underline       = darkest
header-underline-hover = mid
footer-bg         = darkest
footer-link       = white
footer-link-hover = mid 
tags-bg = darkest
tag-bg  = dark
tag-text= light 
project-bg   = lighter
project-text = light
blog-header-link = darkest
blog-entry-bg = lighter 

/* begin normal css */
html, body
  font-family: primary-font-family 
  font-size:1em;
  color:#0f0f0f;
  background-color: main-bg

p
  font-family: arimo
  font-size:1em;
h1,h2,h3,h4,h5,h6
  font-family: header-font 
  color: darkest

hr.dashed
  border-width: 0.5px
  border: dashed

.clear
  clear:both;

input
  margin-top:1em
  margin-right:1em
  padding:0.5em

textarea
  width:90%

a
  text-decoration: none
  color: link

a:hover
  text-decoration: none
  color: link-hover

.container 
  min-height:100%
  position:relative

#top-title
  font-family: header-font

#top-title a 
  color:#0f0f0f
.preview
  padding-left:1em
  border-left: 6px solid dark
  border-bottom: 2px solid dark
  
header 
  padding-bottom: 5px

header nav 
  display: block
  clear: both
  margin-top: 6px
  padding-top: 6px
  white-space: nowrap

header nav a 
  background-color: header-nav-bg
  color: header-nav-text
  margin: 6px
  padding: 6px
  display: inline-block
  font-size: 25px
  line-height: 25px
  border-bottom: 5px solid header-underline

header nav a:hover, a.current
  color: header-nav-text-hover
  background-color: header-nav-hover
  border-bottom: 5px solid header-underline-hover

.navbar
  margin-bottom:0px

.centered 
  text-align:center

#top-title 
  padding:0.5em
  font-size:2.5em

#top-subtitle
  text:#0b0b0b
  font:1em italic

.content
  background-color:content-bg
.container
  position:relative
  min-height:100%

.content
  padding-bottom: 0em

/* ----------FOOTER------------*/
footer 
  color:#fafafa
  padding-top: 1em
  padding-left: 20% 
  padding-right: 20%
  height: 100%
  position: relative
  background-color: footer-bg

#footer a
  color: footer-link
  padding: 0.5em

.footer-nav a
  font-size: 120%

#footer a:hover 
  color: footer-link-hover

#footer ul
  margin:0
  padding:0

#footer li
  margin:0
  list-style-type:none
  margin: 0
  padding: 2px 0 2px 0

.footer-nav ul
  list-style-type:none
  display: list-item

.social-icons ul
  list-style-type:none

.social-icons li
  display: inline
  padding-top: 4px

p.license
  padding-left:20%
  padding-top: 4px
  margin-bottom: 4px
  font-size:70%

/* ------------------blog---------------*/
blockquote 
  background: white 
  border-left-style: 3px
  font-style: italic
  border-left: 6px solid #111

pre
  background-color:#1f1c1f
  color:#fafafa

.blog-preview
  border:1px

.blogentry
  color:#0f0f0f
  background-color: blog-entry-bg
  border-radius:4px
  padding-left:6px
  padding-right:6px

.blogcontent
  color:#0f0f0f
  background-color:main-bg
  padding-bottom:4px

.blogentry h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
  color: blog-header-link
.blogentry p
  line-height:1em
  padding:1em
  margin:1em

.tags
  border-top: solid 6px light 
  background-color:tags-bg
  padding-bottom:2px

.tag
  border-radius: 3px
  display: inline
  padding-bottom: 2px
  padding-left: 2px
  padding-right: 2px
  margin-left: 6px
  background-color: tag-bg

.tags h5
  color:tag-text

.tag a
  color:white
.tag a:hover
  color:link-hover

/* ---------- other ------------*/
.project-col1, .project-col2 
  padding: 0.5em
  background-color: project-bg 

.project-text
  padding:1em
  margin-top:1em
  background-color:project-text

#contact
  padding: 1em
  background-color: lighter
