/*
* nib adds browser specific css
*/

/* fonts */
@import url('http://fonts.googleapis.com/css?family=Droid\+Sans')
header-font         = 'Droid Sans', sans-serif
primary-font-family = 'Droid Sans', sans-serif
second-font-family  = 'Arial', sans-serif
/* colors */
main-bg         = #fefefe
primary-light   = #b7cf96
primary-dark    = #7e9e4f
secondary-light = #fc1501
secondary-dark  = #60160a
link-hover      = #fc1501
link            = #60160a

/* begin normal css */
html, body
  font-family: primary-font-family 
  font-size:1em;
  color:#0f0f0f;
  background-color: main-bg


p
  font-family: 'Arial', sans-serif
  font-size:1em;

hr.dashed
  border-width: 0.5px
  border: dashed

input
  margin-top:1em
  padding:0.5em

a
  text-decoration: none
  color: link

a:hover
  text-decoration: none
  color: link-hover

.container 
  min-height:100%
  position:relative

#top-title
  font-family: header-font

#top-title a 
  color:#0f0f0f

header 
  margin-bottom: 5px

header nav 
  display: block
  clear: both
  margin-top: 6px
  padding-top: 6px
  white-space: nowrap

header nav a 
  background-color: primary-dark
  color:#fafafa
  margin:6px
  padding: 6px
  border-top-left-radius: 14px
  border-bottom-right-radius: 14px
  display:inline-block
  font-size:25px
  line-height:25px

header nav a:hover, a.current
  background-color: secondary-dark

.navbar
  margin-bottom:0px

.centered 
  text-align:center

#top-title 
  padding:0.5em
  font-size:2.5em

#top-subtitle
  text:#0b0b0b
  font:1em italic

.container
  position:relative
  min-height:100%

textarea
  width:100%

.content
  padding-bottom: 1em

/* ----------SIDEBAR------------*/
.sidebar 
  position: relative
  text-align: center
  height:600px
  border-left: 1px dotted
  padding-bottom: 0em


/* ----------FOOTER------------*/
#footer 
  color:#fafafa
  padding-top: 1em
  padding-left: 200px
  padding-right: 200px
  height: 100px
  position: relative
  background-color: primary-dark

#footer ul.pull-left li
  list-style-type: none
  display: list-item


#footer p.copyright 
  padding-top: 8px
  margin-bottom: 5px

#footer a 
  color:secondary-dark
  padding: 0.5em

#footer a:hover 
  color: link-hover

.clearfooter
  clear:both;

#footer li
  display: inline
  list-style-type:none

/* ---------- other ------------*/
.project-col1, .project-col2 
  padding: 0.5em
  background-color: white

.project-text
  padding:1em
  margin-top:1em
  background-color:primary-light

