
/*
* nib adds browser specific css
*/

/*********** fonts ********/
@import url('http://fonts.googleapis.com/css?family=Droid\+Sans')
@import url('http://fonts.googleapis.com/css?family=Arimo')

simple              = "Verdana","Arial","Helvetica",sans-serif
HelveticaNeue       = "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
DroidSans           = 'Droid Sans', sans-serif
Tertre              = 'Tertre bold', sans-serif
liberationSans      = 'liberationSans', sans-serif
arimo               = 'Arimo', sans-serif
ff-tisa             = "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, serif
header-font         = Tertre 
title-font          = ff-tisa
primary-font-family = simple 
/****** colors ********/
light   = #fefefe
lighter = #728127
/*green*/ 
dark    = #327500
/*eggplant*/
darkest = #10051c
/*yellow*/
mid     = #d4b515
main-bg = light
content-bg = main-bg
link            = #c1390a
link-hover      = mid
/*header*/
header-nav-bg          = light
header-nav-hover       = darkest
header-nav-text        = dark
header-nav-text-hover  = light
header-underline       = darkest
header-underline-hover = mid
footer-bg         = darkest
footer-link       = link
footer-link-hover = mid 
tags-bg = darkest
tag-bg  = dark
tag-text= light 
project-bg   = lighter
project-text = light
blog-header-link = darkest
blog-entry-bg = lighter

/* begin normal css */
html, body
  font-family: primary-font-family 
  font-size:1em;
  color:#0f0f0f;
  background-color: main-bg

p
  font-family: ff-tisa
  font-size:1em
li
  padding-top: 6px
  line-height: 1em

h1,h2,h3,h4,h5,h6,
nav a
  font-family: header-font
  color: darkest

hr.dotted
  border-top: dashed 3px darkest
  color: main-bg
  background-color: lighter
  border: dotted medium darkest
  border-style: none none dotted

.clear
  clear:both;

input
  margin-top:1em
  margin-right:1em
  padding:0.5em

textarea
  width:90%

a
  text-decoration: none
  color: link

a:hover
  text-decoration: none
  color: link-hover

.container 
  min-height:100%
  position:relative

#top-title
  font-family: title-font

#top-title a 
  color:#0f0f0f
.preview
  padding-left:1em
  border-left: 6px solid dark
  border-bottom: 2px solid dark

header 
  padding-bottom: 5px

header nav 
  display: block
  clear: both
  margin-top: 6px
  padding-top: 6px
  white-space: nowrap

header nav a 
  background-color: header-nav-bg
  color: header-nav-text
  margin: 6px
  padding: 6px
  display: inline-block
  font-size: 25px
  line-height: 25px
  border-bottom: 5px solid header-underline

header nav a:hover, a.current
  color: header-nav-text-hover
  background-color: header-nav-hover
  border-bottom: 5px solid header-underline-hover

.navbar
  margin-bottom:0px

.centered 
  text-align:center

#top-title 
  padding:0.5em
  font-size:2.5em

#top-subtitle
  text:#0b0b0b
  font:1em italic

.about ul,p
  padding-left: 4px
  margin-left: 4px

.about a
  padding: 4px
  max-width: 100px

.content
  background-color:content-bg
.container
  position:relative
  min-height:100%

.content
  padding-bottom: 0em

/* ----------FOOTER------------*/
footer 
  color:#fafafa
  padding-top: 1em
  height: 100%
  position: absolute
  background-color: footer-bg

.footer-nav a
  font-size: 120%

footer h3
footer h4
footer h5
footer h6
  color: light
footer a
  color: footer-link
  padding: 0.5em

footer a:hover 
  color: footer-link-hover

footer ul
  margin:0
  padding-top:8px

footer a.contact
  background-color: mid
  padding-bottom: 8px

footer a.contact:hover
  background-color: light

footer .span4
  padding-left:16px
  border-left: 2px solid #555
  height: 300px

footer li
  margin:0
  list-style-type:none
  margin: 0
  padding: 2px 0 2px 0

.footer-nav ul
  list-style-type:none
  display: list-item

.social-icons ul
  list-style-type:none

.social-icons li
  display: inline
  padding-top: 4px

p.license
  padding-top: 4px
  margin-bottom: 4px
  font-size:70%

/* ------------------blog---------------*/
blockquote 
  background: white 
  border-left-style: 3px
  font-style: italic
  border-left: 6px solid #111

pre
  background-color:#1f1c1f
  color:#fafafa

.blog-preview
.globaltags
.globalcats
  list-style:none
  padding:0
  margin:0
  font-size:0.75em
  border:1px

.blog-preview li
  border-bottom: 1px solid #bbb
  line-height:20px

.blogentry
  color:#0f0f0f
  border-radius:4px
  padding:6px


.blogentry h1 a,
.blogentry h2 a,
.blogentry h3 a,
.blogentry h4 a,
.blogentry h5 a,
.blogentry h6 a
  color: blog-header-link

.blogentry a
  font-weight: 900;
  letter-spacing: 2px;
  color: darkest

.blogentry a:hover
  color: link

.blogentry.even
  background-color: #f6f6f6 

.blogentry 
.tags
  border-top: solid 6px light 
  padding-bottom:2px
.tags
  background-color: darkest

.blogcontent
  color:#0f0f0f
  background-color:main-bg
  padding-bottom:4px

.blogcontent p,
.blogcontent h2,
.blogcontent h4,
.blogcontent h5,
.blogcontent h6,
.blogcontent pre
  padding:8px

.tag
  border-radius: 3px
  display: inline
  padding-bottom: 2px
  padding-left: 2px
  padding-right: 2px
  margin-left: 6px
  background-color: tag-bg

.tags h5
  color:tag-text

.tag a
  color:white
.tag a:hover
  color:link-hover

/* ---------- other ------------*/
.project-col1, .project-col2 
  padding: 0.5em
  background-color: project-bg 

.project-text
  padding:1em
  margin-top:1em
  background-color:project-text

#contact
  padding: 1em
  background-color: lighter

/* prettify */
.com 
  color: #827d06
.lit 
  color: #195f91
.pun, .opn, .clo 
  color: #d4d4ac
.fun 
  color: #dc322f
.str, .atv 
  color: #D14
.kwd, .prettyprint .tag
  color: #b600c1
.typ, .atn, .dec, .var 
  color: teal
.pln
  color: #d4d4ac

.prettyprint 
  padding: 8px
  background-color: darkest
  border: 1px solid #e1e1e8

.prettyprint.linenums
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0

.about-paragraph
  font-size:78%
/* Specify class=linenums on a pre to get line numbering */
ol.linenums
  /* IE indents via margin-left */
  margin: 0 0 0 33px  

ol.linenums li
  padding-left: 12px
  color: #bebec5
  line-height: 20px
  text-shadow: 0 1px 0 #fff

.underline
  border-bottom: solid 4px darkest
.tags-dropdown
  font-size: bold 1.25em 

.categories:hover
.tags-dropdown:hover,
.recent:hover
  background-color:mid

.resume
  padding-left:4px
  border-left: solid 2px #f0f0f0

li.school
  font-size: 1.25em
