@import url("http://fonts.googleapis.com/css?family=Droid\+Sans");
@import url("http://fonts.googleapis.com/css?family=Arimo");
@font-face{font-family:'liberationSans';src:url("./lib/liberation_sans/LiberationSans-Regular.ttf")}
html,body{font-family:'Droid Sans',sans-serif;font-size:1em;color:#0f0f0f;background-color:#fefefe}
p{font-family:'Arimo',sans-serif;font-size:1em}
hr.dashed{border-width:.5px;border:dashed}
input{margin-top:1em;padding:.5em}
a{text-decoration:none;color:#60160a}
a:hover{text-decoration:none;color:#fc1501}
.container{min-height:100%;position:relative}
#top-title{font-family:'Droid Sans',sans-serif}
#top-title a{color:#0f0f0f}
header{margin-bottom:5px}
header nav{display:block;clear:both;margin-top:6px;padding-top:6px;white-space:nowrap}
header nav a{background-color:#7e9e4f;color:#fafafa;margin:6px;padding:6px;border-top-left-radius:14px;border-bottom-right-radius:14px;display:inline-block;font-size:25px;line-height:25px}
header nav a:hover,a.current{background-color:#60160a}
.navbar{margin-bottom:0}
.centered{text-align:center}
#top-title{padding:.5em;font-size:2.5em}
#top-subtitle{text:#0b0b0b;font:1em italic}
.content{background-color:#fefefe}
.container{position:relative;min-height:100%}
textarea{width:100%}
.content{padding-bottom:1em}
.sidebar{position:relative;text-align:center;height:600px;border-left:1px dotted;padding-bottom:0}
#footer{color:#fafafa;padding-top:1em;padding-left:200px;padding-right:200px;height:100px;position:relative;background-color:#7e9e4f}
#footer ul.pull-left li{list-style-type:none;display:list-item}
#footer p.copyright{padding-top:8px;margin-bottom:5px}
#footer a{color:#60160a;padding:.5em}
#footer a:hover{color:#fc1501}
.clearfooter{clear:both}
#footer li{display:inline;list-style-type:none}
blockquote{background:#fff;border-left-style:3px;font-style:italic;border-left:6px solid #111}
pre{background-color:#1f1c1f;color:#fafafa}
.blog-preview{border:1px}
.blogentry{color:#0f0f0f;background-color:#b7cf96;border-radius:4px;padding-left:6px}
.blogcontent{color:#0f0f0f;background-color:#fefefe;border-radius:4px}
.blogentry p{line-height:1em;padding:1em;margin:1em}
.tags{background-color:#60160a;border-radius:4px}
.tag{display:inline;padding-bottom:2px;padding-left:2px;padding-right:2px;margin-left:6px;background-color:#7e9e4f;border-radius:4px}
.tags h5{color:#fff}
.tag a{color:#fff}
.tag a:hover{color:#fc1501}
.project-col1,.project-col2{padding:.5em;background-color:#fff}
.project-text{padding:1em;margin-top:1em;background-color:#b7cf96}
