<div class="info">
  <!-- Posted on $date$ -->
  $if(author)$
      by $author$
  $endif$
</div>

<div class="post-body">
  <div class="post-meta">
    <em class="post-date pull-right"> - $date$</em>
    <h2 class="post-title">$title$</h2>
  </div>
  $body$

  <div class="pager">
    <ul class="list-unstyled list-inline">
      $if(prevPost)$
        <li class="previous left">
          <a class="button" href="$prevPost$" data-toggle="tooltip" data-placement="top" title="Previous Post">&larr; Previous Post</a>
        </li>
      $endif$

      $if(nextPost)$
        <li class="next right">
          <a class="button" href="$nextPost$" data-toggle="tooltip" data-placement="top" title="Next Post">Next Post &rarr;</a>
        </li>
      $endif$
    </ul>
  </div>
  <br>
  <br>
  <div id="disqus_thread"></div>
  <script>

  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
  /*
  */
  /* var disqus_config = function () {
      this.page.url = "brdyorn.com$url$";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "$path$"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      this.page.title = '$title$';
  }; */
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//brdyorn.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

