<div class="info">
  <!-- Posted on $date$ -->
  $if(author)$
      by $author$
  $endif$
</div>

<div class="post-body">
  <div class="post-meta">
    <em class="post-date pull-right"> - $date$</em>
    <h2 class="post-title">$title$</h2>
  </div>
  $body$

  <div class="pager">
    <ul class="list-unstyled list-inline">
      $if(prevPost)$
        <li class="previous left">
          <a class="button" href="$prevPost$" data-toggle="tooltip" data-placement="top" title="Previous Post">&larr; Previous Post</a>
        </li>
      $endif$

      $if(nextPost)$
        <li class="next right">
          <a class="button" href="$nextPost$" data-toggle="tooltip" data-placement="top" title="Next Post">Next Post &rarr;</a>
        </li>
      $endif$
    </ul>
  </div>
  <br>
  <br>
</div>
