extends layout

block content
  h3 Welcome to BrdyOrn.com 
  p
    | I'm in the process of updating the content and finishing the core functionality of 
    a(href='http://github.com/tippenein/brdyorn.com') the site, 
    | but feel free to look around.
    | <br>
    | <br>
    | Take a look at my 
    a(href='/projects') projects
    | <br>
    | or contact me  
    a(href='/contact') here

  img(src='imgs/sloth_profile.jpg')
block sidebar
